.space-mono-regular {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.space-mono-bold {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}


body{
  background-color: #67C090;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div{
  background-color: #DDF4E7;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  max-height: 400px;
  max-width: 400px;
}

h1{
  color: black;
}

.ipcontainer{
  height: 30px;
  width: 100px;
  border-radius: 10px;
  border: none;
  box-shadow: white;
}

button{
  background-color: #26667F;
  height: 30px;
  width: 100px;
  color: white;
  border: 10px;
  border-radius: 10px;
}

p{
  background-color: #26667F;
  color: white;
  min-width: 100px;
  border-radius: 10px;
}
