.josefin-sans-body {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

body{
  background-color: #EFEEEA;
}

input{
  background-color: aliceblue;
  border-radius: 5px;
  width: 100px;
  height: 20px;
  border-color: aliceblue;
}

label{
  font-weight: 700;
}

h1{
  text-align: center;
}

p{
  background-color: #EFEEEA;
  font-size: 20px;
  font-weight:600;
}

.Size{
  text-align: center;
}

.operations{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box{
  background-color: #273F4F;
  color: #EFEEEA;
  padding: 20px;
  margin: 20px;
  width: 400px;
  max-height: 400px;
  align-items: center;
  justify-items: center;
  border-radius: 10px;
}

button{
  background-color: #FE7743;
  color: #273F4F;
  border-radius: 5px;
  min-width: 60px;
  border-color: #FE7743;
  min-height: 30px;
  align-self: center;
  font-weight: 400;
}