body{
    background-color:#163a5f;
}

.outer{
    display: flex;
    flex-direction: row;
    max-height: 700px;
    max-width: 700px;
    align-items: center;
    justify-items: center;
}

h1{
    color: #45eba5;
    text-align: center;
}

.inner{
    background-color: #21aba5;
    border-radius: 10px;
    margin: 20px;
    padding: 30px;
    min-width: 300px;
    min-height: 300px;
}

button{
    display: inline-block;
    height: 40px;
    width : 100px;
    border-radius: 10px;
    background-color: #45eba5;
    border-color: #45eba5;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 800;
    font-style: normal;
    margin: 5px;
}

#R1, #R2,#R3{
    background-color: #1d566e;
    border-color:#1d566e;
    color: white;
}

.m-plus-rounded-1c-regular {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#result1, #result2, #result3{
    background-color: white;
    max-width: 600px;
    max-width: 300px;
    border-radius: 10px;
    justify-content: center;
    align-content: center;
    margin: 10px;
    padding: 20px;
    color: 163a5f;
    font-weight: 700;
}

.ipcontainer{
    border-radius: 10px;
    height: 30px;
    width: 100px
}
  