body {
    background-color: white;
    font-family: Arial, sans-serif;
    color: #F78D60;
    margin-top: 40px;
}

h3 {
    text-align: center;
    font-size: 1.8rem;
    color: #EA2264;
}

.input {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 30px 0;
}

label {
    font-weight: bold;
    font-size: 1.1rem;
}

input {
    padding: 10px;
    border: 2px solid #EA2264;
    border-radius: 6px;
    font-size: 1rem;
    background-color:white;
    color: #F78D60;
}

.main-container {
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.replace-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #640D5F;
    padding: 20px;
    border-radius: 8px;
}

.replace-inputs {
    display: flex;
    gap: 10px;
}

.replace-inputs input {
    width: 100%;
}

button {
    padding: 15px;
    background-color: #640D5F;
    color: #F78D60;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
}

.reset-button {
    background-color: #EA2264;
    color:white;
}

.grid-container p, .replace-container p {
    background-color: #640D5F;
    margin: 0;
    padding: 15px;
    border: 1px solid white;
    border-radius: 6px;
    text-align: center;
    font-weight: bold;
    min-height: 24px;
}