body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FFD586;
    gap: 30px;
}

.playfair-display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 20px;
  font-style: normal;
}


input{
    width: 200px;
    height: 30px;
    border-radius: 15px;
    border: none;
}

p{
    width: 300px;
    height: 300px;
}

