.quicksand {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

body{
    background-color: #AFEEEE;
}

.success-container {
    text-align: center;
    padding: 50px;
    margin: 100px auto;
    max-width: 500px;
}

.success-icon {
    font-size: 80px;
    color: white;
}

.success-message {
    font-size: 24px;
    color: #333;
    margin: 20px 0;
}

.back-btn {
    font-family: Quicksand;
    font-weight: 600;
    padding: 10px 30px;
    font-size: 16px;
    background-color: #E0FFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.back-btn:hover {
    background-color: #45a049;
}